<!-- 
</main>
<footer>

<nav>
    <ul class="footerButtons">
        <li style="padding-left:1.5em"><a href="/games">MAIN COLLECTION</a></li>
        <li style="padding-left:1.5em"><a href="#">WISHLIST </a></li>
        <li style="padding-left:1.5em"><a href="#">ARCHIVE COLLECTION</a></li>
        <li style="padding-left:1.5em"><a href="/auth">LOGIN PAGE</a></li>
        <li style="padding-left:1.5em"><a href="/games/new">ADD NEW GAME</a></li>
    </ul>
</nav>

©Boardgame Stratagist Inc.
<ul>
    <h4>Contact Us</h4>
    <li>Telephone: 321-654-9871</li>
    <li>Email: adoptabunny@bunnyinc.com</li>
    <li>123 Main Boardwalk Ave. Monopoly City</li>
    </ul>
</footer>
</html> -->