<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/header.css'>
  <link rel="stylesheet" href="/index.css">
  <title>Board Games</title>
</head>
<body>
<header>
  <nav>
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">New Game</a></li>
      <li><a href="#">Wishlist</a></li>
      <li><a href="#">Archive</a></li>
    </ul>
  </nav>
</header>
