@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Joan&family=Playfair+Display+SC:wght@700&family=Staatliches&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-image: url(./assets/images/gradientBg.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center ;
	color:rgba(24, 42, 68, 0.969);
	font-family: 'joan, serif';  
}

.pageHeader {
  text-align: center;
  padding: 2em 0 2em;
	display:flex;
	flex-direction: column;
	align-items: center;
	color: #ceb9d8;
}

h1 {
	font-size: 2.5rem;
	font-family: 'Playfair Display SC', serif;
	padding-bottom: 1.5rem;
	width: 70%;
	border-bottom-style: double;
	border-bottom: thick double rgba(183, 153, 116, 0.72)
}

.formContainer {
	width: 70%;
	background: linear-gradient(to right bottom, rgba(81, 114, 126, 0.216),rgba(164, 195, 218, 0.292));
	box-shadow: 4px 4px 8px rgba(87, 92, 105, 0.571);
	border-radius: 2rem;
	backdrop-filter: blur(1rem);
	z-index: 2;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: auto;
}

.form {
	display: flex;
	justify-content: center;
}

form {
	justify-content: center;
	margin-left:2.5em

}

.form label{
	display: block;
	margin: 0px 0px 17px 0px;
	font-size: 1.5em;
	font-weight: bold;
}
.form label > span{
	width: 400px;
  font-size: 16px;
	font-weight: bold;
	float: left;
	padding-top: 8px;
	padding-right: 5px;
}
.form span.required{
	color:#f2af89
}

.form input.input-field, .form {
	width: 90%;	
}
.form input.input-field, 
.form .textarea-field {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border: 1px solid rgb(104, 142, 187);
	box-shadow: 1px 1px 4px #EBEBEB;
	-moz-box-shadow: 1px 1px 4px #EBEBEB;
	-webkit-box-shadow: 1px 1px 4px #EBEBEB;
	background-color: rgba(194, 194, 194, 0.114);
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	padding: 5px;
	outline: none;
}
.form .textarea-field{
	height:100px;
	width: 90%;
}

.form input[type=submit],
.button {
	font-family: 'joan, serif'; 
	cursor: pointer;
	padding: 8px 14px;
  border-radius: .25em;
  background-color: transparent;
  color: rgb(12, 0, 36, 0.969);
  font-size: 16px;
  border: 2px solid rgba(12, 0, 36, 0.969);
  box-shadow:  2px 4px 4px rgba(24, 33, 56, 0.969);
	-moz-box-shadow: 2px 4px 4px rgba(24, 33, 56, 0.969);
	-webkit-box-shadow: 2px 4px 4px rgba(24, 33, 56, 0.969);
	margin-right: 5px;
	margin-bottom: 2em;
	
}

.form input[type=submit]:hover {
	background: #bf92c1;
	color: #fff;
}

.button:hover {
	background: #fcba8f;
	color: #0c0024f7;	
}

a {
  text-decoration: none;
}