body {
	background-image: url(./assets/images/gradientBg.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center ;
    color: rgb(0, 2, 2);
}

.form {
	max-width: 700px;
	padding: 20px 12px 10px 20px;
	font: 13px Arial, Helvetica, sans-serif;
	/* position: absolute;
	left: 70%;
	top: 50%;
	transform: translate(-50%, -65%); */
}
.form-heading{
	font-weight: bold;
	font-style: italic;
	border-bottom: 2px solid #ddd;
	margin-bottom: 20px;
	font-size: 30px;
	padding-bottom: 3px;
    color: rgb(134, 208, 212);
}
.form label{
	display: block;
	margin: 0px 0px 15px 0px;
}
.form label > span{
	width: 400px;
    font-size: 16px;
	font-weight: bold;
	float: left;
	padding-top: 8px;
	padding-right: 5px;
}
.form span.required{
	color:#f2af89
}

.form input.input-field, .form {
	width: 90%;	
}
.form input.input-field, 
.form .textarea-field {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border: 1px solid rgb(104, 142, 187);
	box-shadow: 1px 1px 4px #EBEBEB;
	-moz-box-shadow: 1px 1px 4px #EBEBEB;
	-webkit-box-shadow: 1px 1px 4px #EBEBEB;
	background-color: rgba(194, 194, 194, 0.114);
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	padding: 7px;
	outline: none;
}
.form .textarea-field{
	height:100px;
	width: 90%;
}

.form input[name=tutorial] {
	border: 1px solid rgba(69, 78, 144, 0.646);
	box-shadow: 1px 1px 3px rgb(104, 142, 187);
	-moz-box-shadow: 1px 1px 3px rgb(104, 142, 187);
	-webkit-box-shadow: 1px 1px 3px rgb(104, 142, 187);
}
.form input[type=submit],
.button {
	border: none;
	padding: 8px 15px 8px 15px;
	background: #0a4358;
	color: #f2af89;
	box-shadow: 1px 1px 4px #010000;
	-moz-box-shadow: 1px 1px 4px #010000;
	-webkit-box-shadow: 1px 1px 4px #010000;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}
.form input[type=submit]:hover,
.button:hover {
	background: #bf92c1;
	color: #fff;
}

a {
    text-decoration: none;
}

.button {
    background: #f2af89;
	color:#0a4358;
	margin-left: .5rem;
}


.table {
    max-width: 700px;
	padding: 20px 12px 10px 20px;
	position: absolute;
	left: 50%;
	top: 40%;
	transform: translate(-50%, -65%);
    font-size: 1.5rem;
}