<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="index.css">
    <title>The Board Game Stratagist</title>
</head>
<body>
    <header class= "pageHeader">
        <h1>
            THE BOARD GAME STRATAGIST<br>
            <span class="subtitle">Board Game Collection</span>
        </h1>
    
        <nav id="mainNav">
            <div class="btnContainer">
                <ul class="navButtons">
                    <li><a href="/games/new">ADD NEW GAME</a></li>
                    <li style="padding-left:1.5em"><a href="#">ARCHIVE</a></li>
                    <li style="padding-left:1.5em"><a href="#">WISHLIST</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <ul class="cards">
        <% gameIndex.forEach((Game) =>{ %>
        <li>
            <a href="/games/<%= Game._id %>" class="card">
                <img src="<%= Game.img %>" class="card__image" alt="<%= Game.title %>" />
                <div class="card__overlay">        
                <div class="card__header">
                    <svg class="card__arc" xmlns="https://www.w3.org/TR/SVG2/"><path /></svg>                 
                    <img class="card__thumb" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAOEAAADhCAMAAAAJbSJIAAAAA1BMVEUAAACnej3aAAAASElEQVR4nO3BgQAAAADDoPlTX+AIVQEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADwDcaiAAFXD1ujAAAAAElFTkSuQmCC" alt="" />
                    <div class="card__header-text">
                    <h3 class="card__title"><%= Game.title %></h3>
                    </div>
                </div>
                <p class="card__description">Click for More Info!</p>
                </div>
            </a>
            </li>
        <%}) %>
</body>
</body>
</html>