<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="index.css">
    <title>The Board Game Stratagist</title>
</head>
<body>
<header class= "pageHeader">
    <h1>THE BOARD GAME STRATAGIST<br>
    <span class="subtitle">BOARD GAME COLLECTION</span>
    </h1>
    <nav id="mainNav">
        <div class="btnContainer">
            <ul class="navButtons">
                <li><a href="#">ARCHIVE COLLECTION</a></li>
                <li style="padding-left:1.5em"><a href="/wishlist">WISHLIST COLLECTION</a></li>
                <li style="padding-left:1.5em">
                    <% if (user) { %>
                        <a class="active" href="/logout">LOG OUT</a>
                        <% } else { %>
                        <a class="active" href="/auth">LOGIN PAGE</a>
                        <% } %>
                </li>
            </ul>
        </div>
    </nav>
</header>
<ul class="cards">
    <li>
        <a href="/games/new" class="card">
        <img src="/assets/images/newPic.jpg" class="card__image" alt="">
        <div class="card__overlay">        
        <div class="card__header">
            <svg class="card__arc" xmlns="https://www.w3.org/TR/SVG2/"><path /></svg>     
            <img src="/assets/images/gamesIcon.png" class="card__thumb" alt="">
        <div class="card__header-text">
            <h3 style="color: rgb(0, 95, 147); font-weight: bold" class="card__title"><b>ADD NEW GAME</b></h3>
        </div>
        </div>
        <div>
            <p style="font-weight: bold"class="card__description">Growing your collection? Click here to add your new board game!</p>
        </div>
        </div>
        </a>      
    </li>
        <% gameIndex.forEach((Game) =>{ %>
        <li>
            <a href="/games/<%= Game._id %>" class="card">
                <img src="<%= Game.img %>" class="card__image" alt="<%= Game.title %>">
                <div class="card__overlay">        
                <div class="card__header">
                    <svg class="card__arc" xmlns="https://www.w3.org/TR/SVG2/"><path /></svg>     
                    <img src="/assets/images/dice1.png" class="card__thumb" alt="">
                <div class="card__header-text">
                    <h3 class="card__title"><%= Game.title %></h3>
                </div>
                </div>
                <p class="card__description">Click for more Info! </p>
                </div>
            </a>
            </li>
        <%}) %>
    </ul>
<!-- <div class="dice"></div> -->
</body>
</body>
</html>