<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>
<body>
    <h1>Board Game Central</h1>
       <Button><a href="/games/new">Add new Game</a></Button>

    <div class="container">
        <% gameIndex.forEach((Game) =>{ %>
            <div class="games">
                <h2>
                    <%= Game.title %>
                </h2>
                <a href="/games/<%= Game._id %>">
                    <img src="<%= Game.img %>" alt="">
                </a>           
            </div>
            <%}) %>
        </div>

</body>
</html>