<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/form.css">
    <title>Add Game</title>
</head>
<body>
    <form action="/games" method='POST'>
        <label for="title">Name of Game:</label>
        <input type="text" name='title' required>
        <br>
        <label for="description">Give a brief description:</label>
        <textarea type="text" name="description" rows="5", cols="160"></textarea>
        <br>
        <label for="playerMin">Minimum amount of people that can play?</label>
        <input type="number" name="playerMin">
        <br>
        <label for="playerMax">Maximim amount of people that can play?</label>
        <input type="number" name="playerMax"> 
        <br>
        <label for="durationMin">Minimum amount of time it takes to play a game?</label>
        <input type="number" name="durationMin"> minutes
        <br>
        <label for="durationMax">Maximim amount of time it takes to play a game?</label>
        <input type="number" name="durationMax"> minutes
        <br>
        <label for="img">Go grab an image url and paste it here:</label>
        <input type="text" name="img">
        <br>
        <input type="submit">
        <a href="/games" class = 'button'>Cancel</a>
    </form>
</body>
</html>