<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/forms.css">
  <title>New Review</title>
</head>
<body>
  <h1>Please enter in the fields below for your review</h1>

  <form action="/games/<%= game._id %>" method='POST'>
      <label for="title">Title:</label>
      <input type="text" name='title' required>
  
      <label for="body">Leave your review here:</label>
      <textarea type="text" name="body" rows="5", cols="160"></textarea>
  
      <label for="score">What do you give this game out of 10?</label>
      <input type="number" name="score" min='0' max = '10' required>
  
      <input type="submit" value="Add Review">
  </form> 
</body>
</html>

<!-- <div class="review-container">
    <form id="add-review-form" method="POST" action="/games/game._id %>">
        <label>Review:</label>
        <textarea name="content"></textarea>
        <label>Rating:</label>
        <select name="rating">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
        <input type="submit" value="Add Review">
      </form>
</div>
-->

