<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/index.css">
  <link rel="stylesheet" href="/login.css">
  <title>Login</title>
</head>
<body>
<header style="padding-top:25px" class= "pageHeader">
  <h1>
  THE BOARD GAME STRATEGIST<br>
  <span  class="subtitle">The Best Place Online to Store and Orginize Your Board game Collection</span>
  </h1>
</header>
<main>
<section class="formContainer">
  <div class="form">
    <h2>Sign-in with Google or Email:</h2><br>

    <form action="/games" method="POST">

      <a style="font-size: 1.35em;" class="active" id="googleBtn" href="/auth/google">LOGIN</a> <br><br>

      <label for="email"><span>Email:</span>
      <input type="text" class="input-field" name="email" /></label>

      <label for="password"><span>Password:</span>
      <input type="text" class="input-field" name="password" /></label>

      <input style="cursor: not-allowed" type="submit" disabled >
      <a href="/games" class ='button'>Cancel</a>

    </form>

    <br>

    <div class="register">Haven't logged-in before? 
      <h4>Register<a href="/auth/register"> <em>Here</em></a></h4>
    </div>

  </div>
</section>
</main>
</body>
</html> 