<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/index.css">
    <title>Login</title>
</head>
<body>
<header class= "pageHeader">
    <h1>
    THE BOARD GAME STRATAGIST<br>
    <span class="subtitle">The Best Place Online to Store and Orginize Your Board game Collection</span>
    </h1>
    <nav id="mainNav">
      <div class="btnContainer">
          <ul class="navButtons">
              <li><a href="#">ARCHIVE COLLECTION</a></li>
              <li style="padding-left:1.5em"><a href="/wishlist">WISHLIST COLLECTION</a></li>
              <li style="padding-left:1.5em">
                  <% if (user) { %>
                      <a class="active" href="/logout">LOG OUT</a>
                      <% } else { %>
                      <a class="active" href="/auth/google">GOOGLE LOGIN</a>
                      <% } %>
              </li>
          </ul>
      </div>
  </nav>
</header>

</body>
</html> 