<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/index.css">
  <link rel="stylesheet" href="/login.css">
  <title>Login</title>
</head>
<body>
<header style="padding-top:25px" class= "pageHeader">
  <h1>
  THE BOARD GAME STRATAGIST<br>
  <span  class="subtitle">The Best Place Online to Store and Orginize Your Board game Collection</span>
  </h1>
  <nav id="mainNav">
    <div class="btnContainer">
      <ul class="navButtons">
        <li>
        <a style="font-size: 1.35em" class="active" href="/auth/google">GOOGLE LOGIN</a>
        </li>
        <li>
        <a style="font-size: 1.35em; padding-left:1.75em" href="/games">PUBLIC COLLECTION</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
<main>
<section class="infoContainer">
  <div style="font-size: 2rem" class="welcome">
    <p><b>Welcome to your new favorite board game companion site!</b>
      <br><br>
      When you log in, you will be able to customize your page to include all of the awesome board games (or really any table-top game) in your collection. 
      <br><br>
      You will have easy access your games so you can: show them off, plan your perfect game night, and even review or rate each game so you can keep track of what you think of each game!
      <br><br>
      SO, LOGIN HERE AND HAVE FUN!!
      </p>
  </div>
</section>
</main>
</body>
</html> 